.filter{
    background-color: white;
    display: flex;
    border: none;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 2.5rem;
    margin:2.5rem 0 0 0;
    padding: 0 20px;
    border-radius: 0.3rem;
    -webkit-box-shadow: $ShadowSearchBox;
            box-shadow: $ShadowSearchBox;
  }

  .placeHolderFilter{
  color: red;
  }

  .contenedorFilter {
    width: 90%;
    display: flex;
    justify-content: flex-start;
  }

  .filter[open]{
    border:none
  }
