.nav {
    background-color: white;
    -webkit-box-shadow: $ShadowSearchBox;
            box-shadow: $ShadowSearchBox;
    height: 80px;
    width: 100%;
  }

  .tituloPrincipal {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 800;
    padding-left: 5%;
  }

  .tituloSecundario {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  .flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 20px;
  }

  .iconoDM{
    height: 1rem;
    padding-right: 0.5rem;
  }

  .contenedorDM{
    display: flex;
    align-items: center;
    padding-right: 5%;
  }